.boxA:after{
    content:"";
    display: block;
    clear: both;
}
.box1{
    background-color:blue;
    height:200px;
    width:60%;
    float:left;
}
.box2{
    background-color: rgb(19, 161, 76);
    height:200px;
    width:40%;
    float:left;
}
.box3{
    background-color:coral;
    height:200px;
}
.box4{
    background-color: darkslategrey;
    height:200px;
    width:50%;
    float:left;
}
.box5{
    background-color: brown;
    height:200px;
    width:50%;
    float:left;
}

